@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
*{
margin: 0;
padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgb(37, 67, 71);
    /*background: url("/imagenes/aldea.jpg");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    margin: 50px auto;
  width: 80%;
   
}
@font-face {
  font-family: 'NinjaNaruto';
  src: url('./fonts/NinjaNaruto.ttf') format('truetype');
}

h1, h2 {
  font-family: 'NinjaNaruto', sans-serif;
  letter-spacing: 2px;
  color: orange;
  text-shadow: 2px 2px 6px black;
}


h2{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-shadow: 1px solid orange;
    background-color: white;
    
}

header{
 background-image: url("./imagenes/9381357.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
background-color:#0099FF /*#0D1B2A*/;
padding: 15px;
background-image: none;
 

}
nav a{
font-family: 'NinjaNaruto';
color: white;
background-color:#0099FF/*#0D1B2A*/;
font-size: 30px;
text-shadow: 2px 2px 6px black;
text-decoration: none;
background-image: none;
translate: font-size 2s;

}

nav a:hover { 
    color: red;
    background-image: none;
}

.img{
    text-box: inherit;
    border-radius: 300px;
    background-image: none;
}

footer{
    background-color: black ;
    background-image: none;
}

.card{
    container: initial;
    background-image: none;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: whitesmoke;
    text-overflow: clip;
    text-shadow: 1px solid black;
    text-align: center;
    background-color: rgb(6, 3, 30);
    background-image: none;
    
    
}
h3{
    text-align: center;
    background-image: none;
   
}
p{
    text-align: center;
    font-size: 20px
    
}
section{
    width: 80%;
    max-width:600px ;
    margin: 40px auto;
    padding:  20px;
    border-radius: 10px;
    background-color: rgb(151, 143, 143);
    box-shadow: 10px  rgb(76, 187, 76);
    color: black;
    background-image: none;
    
}
.centrado{
    display: flex;
  margin: 40px auto;
  width: 80%;
  height: 400px;
  border: none;
  background-image: none;

}
.fonfo{
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    background-image: none;
}
h4{
    background-color: #0099FF;
    color: rgb(16, 10, 0);
    background-image: none;
}
.carrusel{
    position: relative;
    overflow: hidden;
    background-image: none;
}

.imagenes{
    display: flex;
    transition: transform 0.5 ease;
    background-image: none;

}

.imagenes img{
    width: 100%;
    height: auto;
    background-image: none;
}